<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .container {
      max-width: 600px;
      margin: 0 auto;
    }
    .box {
      color: dodgerblue;
    }
    .header{
      color: #ffffff;
      background-color: #ff6633;
      padding: 10px;
      font-size: 28px;
    }
  </style>
  <title>Review reminder</title>
</head>
<body>
  <div class="container header">
    <span>Bạn đã đọc sách mượn từ Lotus chưa?</span>
  </div>
  <div class="container content">
    <p>
      Xin chào thành viên {{name}},
    </p>
    <p>
      Thư viện xin được thông báo về việc sách của bạn đã sắp đến hạn cần trả lại. Do vậy bạn vui lòng lựa chọn 1 trong 2 phương án sau:
      <ol>
        <li>
          Gửi một yêu cầu mới trên hệ thống của thư viện, trước khi sách hết hạn.
        </li>
        <li>
          Liên lạc Lotus để trả lại sách nếu bạn chưa có nhu cầu tiếp tục mượn sách trong thời gian này.
        </li>
      </ol>
      Để trải nghiệm đọc sách của tất cả mọi người được tốt hơn, Lotus xin mời bạn viết lại cảm nhận của mình về những cuốn sách bạn đã đọc tại thư viện. Vui lòng truy cập vào từng cuốn sách tại trang thư viện của Lotus để gửi lại cảm nhận của mình hoặc ấn vào nút bên dưới thư.
      <br />
      Xin trân trọng cảm ơn,
      <br />
      Lotus Community Library - Library For Families
    </p>
  </div>
</body>
</html>